:root {
    --color-text1: white;
    --color-text2: #A5470F;
    --color-bac1: black;
    --color-bac2: #101010;

}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    text-transform: capitalize;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-bac1);
    margin: 0;
    padding: 0;
    font-family: "Quicksand", sans-serif;
}

a {
    text-decoration: none;
}

.cn,
.hr {

    padding-left: 15px;
    padding-right: 15px;
    margin: auto;

}

@media (min-width: 760px) {

    .cn,
    .hr {
        width: 750px;

    }

}

@media (min-width: 992px) {

    .cn,
    .hr {
        width: 970px;
    }
}

@media (min-width: 1200px) {

    .cn,
    .hr {
        width: 1170px;
    }
}

ul {
    list-style: none;
}

nav {
    position: fixed;
    z-index: 55;
    background-color: black;
    top: 0;
    left: 0;
    width: 100%;

    box-shadow: 0 0 10px 1px #d44f0392;
    height: 50px;

}

nav .cn {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    height: 100%;
}

nav .cn h1 {
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, #AB572D 0%, #EC9A52 44%, #A5470F 100%);
    background-clip: text;
    font-weight: bolder;
    letter-spacing: 1.4px;
    font-family: "Gravitas One", serif;
    font-size: 1.6rem;
    grid-row: 1;
}

nav .cn ul:nth-child(2) {
    grid-column: 2/4;
    grid-row: 1;
}

nav .cn ul:nth-child(2) li a {
    transition: all .5s;
    font-size: .9rem;
    font-weight: 400;

}

nav .cn a:nth-child(3) {
    color: var(--color-text2);
    grid-column: 4;
    grid-row: 1;
}

nav .cn a:nth-child(3) li a {
    transition: all .5s;
}

nav .cn ul:nth-child(2) {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav .cn a:nth-child(3) {
    text-align: end;
}

nav ul a {
    color: var(--color-text1);


}

nav .cn a:nth-child(3) {
    font-size: 1.3rem;
}

nav .cn a:nth-child(3) li:hover a {
    color: var(--color-text2);
}




nav .cn ul:nth-child(2) li a:hover,
nav .cn ul:nth-child(2) li:nth-child(4) a {
    color: var(--color-text2);
    border-bottom: 1px solid var(--color-text2);
    padding-bottom: 5px;

}

@media (max-width: 992px) {
    nav .cn h1 {
        grid-column: 1/4;
        font-size: 1.2rem;
    }
}

@media (max-width: 767px) {
    nav .cn ul:nth-child(2) {
        position: fixed;
        box-shadow: 0 0 10px 1px #d44f0392;
        bottom: -1px;
        left: 0;
        width: 100%;
        background-color: #151515;
        height: 40px;
        border-radius: 25px 25px 0 0px;
        z-index: 55;
        overflow: hidden;
    }

    nav .cn ul:nth-child(2) li {
        height: 100%;
        display: flex;
        align-items: center;
    }

    nav .cn ul:nth-child(2) li a {
        font-size: .7rem;

    }

    nav .cn ul:nth-child(2) li:nth-last-child(2) a {
        background-color: var(--color-text2);
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 0;
        border-radius: 15px 15px 0 0px;
        display: flex;
        align-items: center;
        transition: .5s;
        color: white;

    }

    nav .cn ul:nth-child(2) li a:hover {
        background-color: var(--color-text2);
        height: 100%;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 15px 15px 0 0px;
        border: 0;
        display: flex;
        align-items: center;
        color: white;
    }

    nav .cn a:nth-child(3) {
        grid-column: 4;
    }
}

.ls ul li a:hover,
#Ser {
    color: var(--color-text2);
    border-bottom: 1px solid var(--color-text2);
    padding-bottom: 5px;

}

.section1 {
    background-image: url(/imgs/se1-compressed_Webpifier.webp);
    background-size: cover;
    height: 90vh;
}

.cv {
    background-color: rgba(0, 0, 0, 0.894);
    height: 100%;



}

.section1 .cn {
    height: 100%;
}

.section1 .cv .cn h2 {
    color: var(--color-text1);
    text-align: center;
    padding-bottom: 5%;
    font-size: 3rem;
}

.section1 .cv .cn p {
    color: var(--color-text1);
    text-align: center;
    line-height: 1.5;
    font-weight: 100;
}

.text {

    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    margin: auto;

}

@media (max-width:900px) {
    .text {
        width: 90%;
        line-height: 2;
        /* justify-content: flex-start */

    }

    .section1 .cv .cn h2 {
        font-size: 2rem;
    }

    .section1 {
        height: 80vh;

    }
}

@media(max-width:767px) {
    .section1 {
        margin-top: 50px;
        height: 50vh;
    }
}

.section2 .cn {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    color: var(--color-text1);
    padding-bottom: 55px;
    padding-top: 100px;
    height: fit-content;
}

.section2 .text1 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 90%;
    padding-left: 30px;
    padding-bottom: 55px;
}

.section2 .text1 h2 {
    color: var(--color-text2);
    font-size: 3rem;
}

.section2 .text1 h3 {
    font-size: 2.2rem;
}

.section2 .text1 p {
    line-height: 1.5;
}

.section2 figure {
    padding-bottom: 55px;
}

.section2 figure img {
    width: 100%;
    height: 100%;
}

@media (max-width:767px) {
    .section2 .cn {
        grid-template-columns: 1fr;
    }

    .text1:first-child {
        grid-row: 2;
    }

    .section2 figure:first-child {
        grid-row: 1;
    }

    .text1:nth-child(5) {
        grid-row: 6;
    }

    .text1:nth-child(9) {
        grid-row: 10;
    }

    .section2 .text1 {
        padding-left: 0;
    }

    .section2 .text1 h2 {
        font-size: 2.2rem;
    }

    .section2 .text1 h3 {
        font-size: 1.5rem;
    }
}

.section3 {
    /* background-color: rgb(59, 59, 59); */
    /* background:radial-gradient(ellipse at center , #2d2f30c4 0%,#1b1d1dd5 10% ,black 100%); */
    line-height: 2;
    color: var(--color-text1);
    font-weight: 100;
    padding-top: 55px;
    padding-bottom: 100px;

}


.section3 p {
    padding-bottom: 20px;
}



footer {
    background-color: var(--color-bac2);
    padding-top: 20px;

}

footer .cn {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 30px;

}

footer .type {
    grid-column: 1/4;
    grid-row: 1;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2;
    justify-items: center;

}

footer ul li a {
    color: var(--color-text1);
    font-weight: 100;

}

footer ul li {
    padding-bottom: 15px;

}

footer h2 {
    text-align: center;
    background-color: var(--color-bac2);
}

footer ul li:first-child a {
    font-weight: 800;
}



footer .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: var(--color-text1);
    justify-content: flex-start;
    font-size: .8rem;
}

footer .text h2:nth-child(2) {
    font-size: 1rem;
}

footer .type form {
    display: flex;
    width: 80%;
}

footer .type form input {
    height: 50px;
    width: 85%;
    border: 0;
    padding-left: 10px;
    background-color: #151313;
}

footer .type form button {
    width: 15%;
    height: 50px;
    text-align: center;
    border: 0;
    color: var(--color-text1);
    background-color: var(--color-text2);
    border-radius: 0 10px 10px 0px;
    transition: all .7s;
}

footer .type form button:hover {
    background-color: #ff3300;
    border-radius: 0;
    font-weight: 600;
}

footer .type form input::placeholder {
    color: #7d7c7a;
}

footer .text h2:first-child {
    color: rgba(0, 0, 0, 0);
    background: linear-gradient(90deg, #AB572D 0%, #EC9A52 44%, #A5470F 100%);
    background-clip: text;
    font-weight: 500;
    letter-spacing: 1.4px;
    font-family: "Gravitas One", serif;


}

footer .link {
    display: flex;
    gap: 50px;
    font-size: 1.2rem;
}

footer .link a {
    color: #db9267;

}

footer .hr {
    border-top: 1px var(--color-text1) solid;
    padding: 10px;
}

.hr h2 {
    color: var(--color-text1);
    font-weight: 100;
    font-size: .9rem;
}


@media (max-width:992px) {
    footer .cn {
        grid-template-columns: repeat(4, 1fr);
        min-height: fit-content;
    }

    footer .cn .type {
        grid-column: 1/5;
        grid-template-columns: repeat(3, 1fr);
    }

    footer .cn .type form {
        grid-column: 2/4;
    }

    footer ul li {
        font-size: .5rem;

    }

    footer .text h2:first-child {
        font-size: 1.3rem;
    }

    footer .text h2:nth-child(2) {
        font-size: .8rem;
    }

    footer h2 {
        font-size: 1rem;
    }

    footer .hr h2 {
        font-size: .7rem;
        font-weight: 100;
    }

    footer form {
        padding: 20px;
    }

    .type form input {
        height: 35px;
    }

    .type form button {
        height: 35px;
        font-size: .6rem;
        font-weight: 400;

    }
}

@media (max-width:767px) {
    footer {
        display: none;
    }
}